<p id="notice"><%= notice %></p>

<% @restaurant.dishes.each do |dish| %>
	<p><%= dish.name %></p>
<% end %>



<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
